.Section_top{
    width:100%;
    height:100vh;
    overflow:hidden;
    position:relative;
    /* background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)),
    url(Images/image1.jpg); */
    /* background-position: center;
    background-repeat: no-repeat; */
    background-size:cover;
    animation:change 15s infinite ease-in-out;
  }

  .Section_top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
}
  
  @keyframes change{
    0%
    {
      background-image:url(Images/image1.jpg)
    }
    10%
    {
      background-image:url(Images/image2.jpg)
    }
    20%
    {
      background-image:url(Images/image3.jpg)
    }
    30%
    {
      background-image:url(Images/image4.jpg)
    }
    40%
    {
      background-image:url(Images/image5.jpg)
    }
    50%
    {
      background-image:url(Images/image6.jpg)
    }
    60%
    {
      background-image:url(Images/image7.jpg)
    }
    70%
    {
      background-image:url(Images/image8.jpg)
    }
    80%
    {
      background-image:url(Images/image9.jpg)
    }
    90%
    {
      background-image:url(Images/image10.jpg)
    }
    100%
    {
      background-image:url(Images/image1.jpg)
    }
  }

  .header {
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex; /*used for responsive window*/
    justify-content: flex-end; /*Align items to the right*/
}

.header button {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if they don't fit in a single line */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    margin: 0 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #ffffff; /* Change text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    font-size: 18px;
}
  .header button::after{
    content: '';
    height: 3px;
    width:0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-5px;
    transition: .5s;
  }
  .header button:hover::after{
    width:100%;
  }
  .content{
    width:100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%); /* makes sure it is centered in the middle of the page*/
    text-align: center;
    color:#ffffff;
    margin:auto;
  }

  .content h1{
    font-size: 70px;
    margin: 0;
    padding:0;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  .content p{
    margin-top:0px;
    font-weight:100;
    line-height:35px;
    font-size:20px;
    padding:0;
  }
  .content p br{
    margin-top: 0;
  }
  .button{
    /* display: flex;
    justify-content: center;  */
    text-align: center;
  }

  .button button{
    width: 200px;
    cursor: pointer;
    padding:15px;
    border-radius: 25px;
    background: transparent;
    margin: 20px 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #009688;
    font-size: larger;
    position: relative;
    overflow:hidden;
  }
  .button button span{
    background:#009688;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
  }
  .button button:hover span{
    width:100%;
  }
  .button button:hover{
    border: none;
  }

  .dropdown{
    position:relative;
}
  .dropdown-menu{
    position:absolute;
    left:0;
    top:calc(100% + .25rem);
    background-color: #506864;
    padding:.75rem;
    border-radius:.25rem;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    /* width: 50%; */
    display:none;
    transform: translateY(3px);
    width: 100px;
  }
  .icon{
    margin-left: 10px;
  }
  .dropdown:hover .dropdown-menu{
    display:block;
  }
  .dropdown-menu ul {
    padding: 0;
    margin: 0; 
    list-style: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    font-size: 15px;
  }
.dropdown-menu ul li {
    list-style: none;
    margin-top: 10px;
    width:px;
    padding:10px;
    border-bottom: 1px dotted #ffffff;
    cursor: pointer;
    border-radius: 0;
  }
  .dropdown-menu ul li:last-child{
    border-bottom: none;
  }

  .dropdown-menu ul li:hover{
    color:#ffff00;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8); /* Add stronger text shadow */
  }